<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>莫忘个人博客</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{$Think.const.CSS_URL}bootstrap.min.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}base.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}index.css" rel="stylesheet">
<script type="text/javascript" src="{$Think.const.JS_URL}jquery.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}sliders.js"></script>
</head>
<body>
<header>
  <div class="logo f_l"> <a href="/"><img src="{$Think.const.IMG_URL}logo.png"></a> </div>
  <nav id="topnav" class="f_r">
   <ul>
      <a href="{:url('/articlelsit')}">文章列表</a>
      <a href="{:url('/wriarticle')}">发布文章</a> 
       <a href="{:url('/admin')}">首页</a>      
      <a href="{:url('/adphoto')}" >相册</a> 
      <a href="{:url('/leavemessage')}">留言</a>
      <a href="{:url('/showmessage')}">留言板</a>
    </ul>
    <script src="{$Think.const.JS_URL}nav.js"></script> 
  </nav>
</header>
<div class="topnews">
      <h2><b>文章</b>列表</h2>
      {volist name="article" id="v"}
      <div class="blogs">
        <figure><img src="{$Think.const.IMG_URL}{$v.Img}"></figure>
        <ul>
          <h3><a href="{:url('/Clicknum')}?ID={$v.ID}" target="_blank">{$v.Title}</a></h3>
          <p>{$v.Content}</p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">{$v.Time}</span><span class="viewnum f_r">浏览（<a href="{:url('/Clicknum')}?ID={$v.ID}">{$v.Clicknum}</a>）</span></p>
        <p class="autor"><span class="lm f_l"><a href="{:url('/delete')}?ID={$v.ID}" style="font-size: 20px;">删除文章</a></span></p>
       <p class="autor"><span class="lm f_l"><a href="{:url('/update')}?ID={$v.ID}" style="font-size: 20px;">修改文章</a></span></p>
        </ul>     
      </div>
      {/volist}   
      <div style="position:relative;top: 0px;"> 
      {$article->render()}     
      </div> 
      </div>
</body>
</html>