<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>莫忘个人博客</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="__PUBLICCSS__bootstrap.min.css" rel="stylesheet">
<link href="__PUBLICCSS__base.css" rel="stylesheet">
<link href="__PUBLICCSS__index.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLICJS__jquery.min.js"></script>
<script type="text/javascript" src="__PUBLICJS__sliders.js"></script>
</head>
<body>
<header>
  <div class="logo f_l"> <a href="/"><img src="__PUBLICIMG__logo.png"></a> </div>
  <nav id="topnav" class="f_r">
    <ul>
      <a href="{:url('/admin')}">首页</a>
      <a href="{:url('/wriarticle')}">发布文章</a> 
      <a href="{:url('/articlelsit')}">文章列表</a> 
      <a href="{:url('/adphoto')}" >相册</a> 
      <a href="{:url('/leavemessage')}">留言</a>
      <a href="{:url('/showmessage')}">留言板</a>
    </ul>
    <script src="__PUBLICJS__nav.js"></script> 
  </nav>
</header>
  <div class="topnews">
      <h2>My Family</h2>
      <div class="blogs">
      {volist name="family" id="v"}
          <figure >
          <img style="width: 300px;height: 300px;" src="__PHOTO__{$v.Photo}"></figure>
       {/volist} 
      </div>
       
      <div style="position:relative;top: 0px;">
      {$family->render()}      
      </div> 
      </div>
</body>
</html>
