<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>莫忘个人博客</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{$Think.const.CSS_URL}bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="" href="{$Think.const.CSS_URL}style.css">
<link href="{$Think.const.CSS_URL}base.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}index.css" rel="stylesheet">
<script type="text/javascript" src="{$Think.const.JS_URL}jquery.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}sliders.js"></script>
</head>
<body>
<header>
  <div class="logo f_l"> <a href="/"><img src="{$Think.const.IMG_URL}logo.png"></a> </div>
  <nav id="topnav" class="f_r">
    <ul>
      <a href="{:url('/index')}">首页</a> 
      <a href="{:url('/aboutme')}" >关于我</a>
      <a href="{:url('/article')}" >文章</a> 
      <a href="{:url('/photo')}" >相册</a> 
      <a href="{:url('/leavemessage')}">留言</a>
      <a href="{:url('/showmessage')}">留言板</a>
    </ul>
    <script src="{$Think.const.JS_URL}nav.js"></script> 
  </nav>
</header>
  <div class="topnews">
      <h2><b>文章</b>列表</h2>
      {volist name="article" id="v"}
      <div class="blogs">
        <figure><img src="{$Think.const.ARTIMG_URL}{$v.Img}"></figure>
        <ul>
          <h3><a href="{:url('/Clicknum')}?ID={$v.ID}" target="_blank">{$v.Title}</a></h3>
          <p>{$v.Content}</p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">{$v.Time}</span><span class="viewnum f_r">浏览（<a href="{:url('/Clicknum')}?ID={$v.ID}">{$v.Clicknum}</a>）</span></p>
        </ul>
      </div>
      {/volist}   
      <div style="position:relative;top: 0px;"> 
      {$article->render()}     
      </div> 
      </div>
<address>
<footer >
  <p class="ft-copyright">莫忘个人博客 Ymowang Blog <a href="http://www.miibeian.gov.cn/">渝ICP备17008739号-1</a></p>
</footer>
 </address>
</body>
</html>
